/* Update your CSS for the dark theme and additional functionality */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 20%;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    box-sizing: border-box;
    height: 100%; /* Set left pane height to 100% */
    overflow-y: auto;
}

/* Style for the chat button */
.chat-button {
    background-color: black; /* Black background color */
    color: #fff; /* White text color */
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.chat-button:hover {
    background-color: #333; /* Darker color on hover */
}

.newchat{
    display: flex ;
    justify-content: space-evenly;
}
.hide-bar-button {
    width: 16%;
    padding: 10px;
    background-color: #141415;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}
.hide-bar-button:hover {
    background-color: #2b2b2d; /* Darker color on hover */  
}


.existing-chats {
    overflow-y: auto;
   
}

.right-pane {
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    background-color: rgb(58, 59, 69);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Style the Open Bar button icon */
.open-bar-button i {
    font-size: 15px;
    width: 1%;
    padding: 10px;
    background-color: #141415;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}


.top-center-buttons {
    background-color :rgb(32, 33, 35);
    border-bottom-color :rgb(217, 217, 227);
    border-bottom-left-radius :12px;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice :100%;
    border-image-source: none;
    border-image-width :1;
    border-left-color :rgb(217, 217, 227);
    border-left-style :solid;
    border-left-width :0px;
    border-right-color: rgb(217, 217, 227);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color :rgb(217, 217, 227);
    border-top-left-radius :12px;
    border-top-right-radius: 12px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(32, 33, 35);
    color-scheme :dark;
    display: flex;
    font-family :Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-size: 14px;
    font-variation-settings: normal;
    height :50px;
    line-height :20px;
    padding-bottom :4px;
    padding-left: 4px;
    padding-right :4px;
    padding-top: 4px;
    position: relative;
    tab-size :4;
    text-size-adjust :100%;
    width: 310px;
    -webkit-font-smoothing :antialiased;
    margin-left: 40%;
}

.floating-button {
    align-items: center;
    background-color: rgb(64, 65, 79);
    border-bottom-color :rgb(78, 79, 96);
    border-bottom-left-radius :8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice :100%;
    border-image-source: none;
    border-image-width :1;
    border-left-color :rgb(78, 79, 96);
    border-left-style :solid;
    border-left-width :1px;
    border-right-color: rgb(78, 79, 96);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(78, 79, 96);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow :rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 1px 7px 0px;
    box-sizing: border-box;
    color :rgb(236, 236, 241);
    color-scheme: dark;
    column-gap: 8px;
    cursor :pointer;
    display :flex;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings :normal;
    font-kerning :auto;
    font-optical-sizing :auto;
    font-size :14px;
    font-stretch :100%;
    font-style :normal;
    font-variant-alternates :normal;
    font-variant-caps :normal;
    font-variant-east-asian :normal;
    font-variant-ligatures :normal;
    font-variant-numeric :normal;
    font-variant-position :normal;
    font-variation-settings :normal;
    font-weight :400;
    height: 42px;
    justify-content: center;
    letter-spacing :normal;
    line-height :20px;
    list-style-image :none;
    list-style-position :outside;
    list-style-type :none;
    min-width :142px;
    outline-color :rgba(0, 0, 0, 0);
    outline-offset :2px;
    outline-style: solid;
    outline-width :2px;
    padding-bottom :10px;
    padding-top :10px;
    position: relative;
    row-gap :8px;
    tab-size :4px;
    text-align :center;
    text-indent: 0px;
    text-rendering :auto;
    text-shadow :none;
    text-size-adjust :100%;
    text-transform :none;
    transition-duration :0.1s;
    transition-property :opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width :140px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-font-smoothing: antialiased;
    column-gap: 10px;
    flex-direction: row;
}
.float{
    background: rgb(32, 33, 35);

}
.floating-button:hover{
    background-color:lightslategray;
    opacity: 0.2px;
}

.message-display {
    flex-grow: 1;
    overflow-y: auto;
}



/* Style the "ChatGPT" name in grey in the middle of the right pane */
.chatgpt-name {
    text-align: center;
    font-size: 34px;
    font-style: bold;
    color: grey;
    margin: 25px 0;
    font-weight: bold;
    
}
/* Style the hide/show button icon */
.hide-show-button {
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Remove default button styles */
.hide-show-button:focus {
    outline: none;
}

/* Center the hide/show button icon vertically and horizontally */
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
/* Style for the plus icon button */
.new-chat-button i {
    margin-left: 15px; /* Add some spacing between the text and the plus icon */
}
.message-input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(81, 82, 100);
    padding : 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left:15% ;
    margin-bottom: 2%;
    border-radius: 8px;

}

/* Style the message input field */
.message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(81, 82, 100);
    color: #fff;
    font-size: 16px;
    outline: none;
}

/* Style the send button */
.send-button {
    background-color: rgb(81, 82, 100);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
}
.send-button:hover{
    background-color:lightslategray;
    opacity: 0.2px;
}

/* Add some spacing between the input box and the send button */


/* Remove default button styles */
.send-button:focus {
    outline: none;
}
/* Style the question mark icon */
.question-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    color: gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Style the question mark icon itself */
.question-icon i {
    font-size: 20px;
}

/* Adjust the icon's position to the right */
.question-icon i.fa-question-circle {
    margin-right: 0.1rem;
}
/* Style the top-left-button */
.top-left-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}




/* Style the container for the four boxes */
.box-container {
    border-bottom-color :rgb(217, 217, 227);
    border-bottom-style :solid;
    border-bottom-width :0px;
    border-image-outset :0;
    border-image-repeat :stretch;
    border-image-slice :100%;
    border-image-source: none;
    border-image-width :1;
    border-left-color :rgb(217, 217, 227);
    border-left-style :solid;
    border-left-width :0px;
    border-right-color: rgb(217, 217, 227);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color :rgb(217, 217, 227);
    border-top-style :solid;
    border-top-width :0px;
    box-sizing: border-box;
    color-scheme: dark;
    column-gap: 12px;
    display: grid;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings :normal;
    font-variation-settings: normal;
    grid-auto-flow: row;
    grid-template-columns :322.8px 322.8px;
    height :127.2px;
    line-height: 24px;
    row-gap: 12px;
    tab-size: 4;
    text-size-adjust: 100%;
    width :657.6px;
    -webkit-font-smoothing: antialiased;
    


}

/* Style the columns */
.column {
    border-bottom-color: rgb(217, 217, 227);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice :100%;
    border-image-source: none;
    border-image-width :1;
    border-left-color :rgb(217, 217, 227);
    border-left-style :solid;
    border-left-width :0px;
    border-right-color: rgb(217, 217, 227);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color :rgb(217, 217, 227);
    border-top-style :solid;
    border-top-width :0px;
    box-sizing :border-box;
    color-scheme: dark;
    column-gap :12px;
    display: flex;
    flex-direction: column;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings :normal;
    font-variation-settings: normal;
    height :127.2px;
    line-height :24px;
    row-gap :12px;
    tab-size :4;
    text-size-adjust :100%;
    width :322.8px;
    -webkit-font-smoothing :antialiased;
    margin-left:90% ;
    margin-top: 100%;
}

/* Style the individual boxes */
.box {
    align-items: center;
    appearance: button;
    background-color: rgb(52, 53, 65);
    background-image: none;
    border-bottom-color :rgb(86, 88, 105);
    border-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice :100%;
    border-image-source: none;
    border-image-width :1;
    border-left-color :rgb(86, 88, 105);
    border-left-style :solid;
    border-left-width :0.8px;
    border-right-color: rgb(86, 88, 105);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color :rgb(86, 88, 105);
    border-top-style :solid;
    border-top-width :0.8px;
    box-shadow :rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.02) 0px 1px 6px 0px;
    box-sizing :border-box;
    color :rgb(197, 197, 210);
    color-scheme :dark;
    cursor: pointer;
    display: inline-flex;
    font-family :Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    height :57.6px;
    letter-spacing: normal;
    line-height :20px;
    margin :0px;
    padding-bottom: 8px;
    padding-left :12px;
    padding-right: 12px;
    padding-top :8px;
    pointer-events: auto;
    position :relative;
    width :322.8px;
    word-spacing: 0px;

}
.upgrade-section {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #222;
    margin-top: 480px; /* Push the upgrade section to the bottom of the left pane */
    width: 220px;
}

.profile-icon {
    margin-right: 10px;
    font-size: 24px;
}

.upgrade-text {
    color: #fff;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #222;
    margin-top: 10px; /* Add some margin between the upgrade and profile sections */
    
}
.bottom{
    position: fixed;
    bottom: 0px;
}


.icon {
    width: 35px;
    height: 35px;
    background-color: #181919;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.user-name {
    color: #fff;
}

.three-dots-icon {
    font-size: 18px;
    color: #fff;
}
.three-dots-icon:hover{
    background-color:lightslategray;
    opacity: 0.2px;
}